<!DOCTYPE html>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>결과페이지</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="css/main.css" />
    <noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>

  </head>

  <script
    src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
    crossorigin="anonymous"
  ></script>

  <!-- <script>
    $(document).on("keyup", "input:text[numberOnlyMinComma]", function () {
      var strVal = $(this).val()

      event = event || window.event
      var keyID = event.which ? event.which : event.keyCode

      if (
        (keyID >= 48 && keyID <= 57) ||
        (keyID >= 96 && keyID <= 105) ||
        keyID == 46 ||
        keyID == 8 ||
        keyID == 109 ||
        keyID == 189 ||
        keyID == 9 ||
        keyID == 37 ||
        keyID == 39
      ) {
        if (strVal.length > 1 && (keyID == 109 || keyID == 189)) {
          return false
        } else {
          return
        }
      } else {
        return false
      }
    })

    $(document).on("keyup", "input:text[numberOnlyMinComma]", function () {
      $(this).val(
        $(this)
          .val()
          .replace(/[^-\.0-9]/gi, "")
      )
      $(this).val(
        $(this)
          .val()
          .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
      )
    })
    $(document).on("focusout", "input:text[koreanCurrency]", function () {
      $(this).val($(this).val().replace(",", ""))
      $(this).val(
        $(this)
          .val()
          .replace(/[^-\.0-9]/gi, "")
      )
      $(this).val(
        $(this)
          .val()
          .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
      )
      if ($(this).val() != "") {
        $(this).val($(this).val() + "원")
      }
    })

    $(document).on("focus", "input:text[koreanCurrency]", function () {
      $(this).val($(this).val().replace("원", ""))
    })
  </script> -->

  <body class="is-preload">
    <!-- Wrapper -->
    <a href="/"><h4><-- 뒤로가기</h4></a>
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <h1 style="font-weight: 900; font-size: 60px">전력소비유형검사</h1>
        <h3>[ Energy Consumption Type Indicator ]</h3>
        <h2>검사결과</h2>
      
      </header>

      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="#intro" class="active" style="font-weight: 500;">당신의 ECTI는</a></li>
          <li><a href="#first" style="font-weight: 500;">당신의 전력 소비 분석</a></li>
          <li><a href="#second" style="font-weight: 500;">제목3</a></li>
          <li><a href="#cta" style="font-weight: 500;">제목4</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <!-- Introduction -->
        <section id="intro" class="main special">
          <div class="spotlight">
            <div class="content">
              <header class="major">
                <h2 style="font-weight:900">당신의 ECTI는</h2>
              </header>

              <br>

              <img style="border:3px solid grey" src=<%= data[4] %>>
              <div style="margin-top:20px;text-align:left">
                <br>
                <h1 style="font-weight:900">전력소비유형: "####"</h1>
                
                <p class="out" style="margin-top:20px">
                  <div class="v-line"> 
                    <h2 style="font-weight: 300; margin-left:20px">############</h2>
                    <h2 style="font-weight: 300; margin-left:20px">############</h2>
                  </div>
                </p>
              
              </div>
        </section>

        <!-- First Section -->
        <section id="first" class="main special">
          <header class="major">
            <h2 style="font-weight:900">당신의 전력 소비 분석</h2>
          </header>
          <p><img src=<%= data[3] %> ></p>
          <p class="out" style="margin-top:20px">
            <div class="v-line" style="text-align:left"> 
              <h2 style="font-weight: 300; margin-left:20px">############</h2>
              <h2 style="font-weight: 300; margin-left:20px">############</h2>
              <h2 style="font-weight: 300; margin-left:20px">평균요금 : <%=data[0]%>원 사용자요금 : <%=data[1]%>원 등급: <%=data[2]%></h2>
            </div>
          </p>
        
        </section>

        <!-- Second Section -->
        <section id="second" class="main special">
          <header class="major">
            <h2 style="font-weight:900">#######</h2>
          </header>
          <div class="container">
            <div style="display: flex">
            <img src="third/국가별전기요금(가정).png" style="width:50%;height:50%" alt="">
            <img src="third/국가별전기요금(산업용).png" style="width:50%;height:50%" alt="">
          </div>
          <div style="display: flex">
            <img src="third/요금사용량.png" style="width:50%;height:50%" alt="">
            <img src="third/한전재무상태.png" style="width:50%;height:50%" alt="">
          </div>
          <img src="third/전기요금개정변화율.png" style="width:80%;height:50%" alt="">
        </div>
          
        </section>

        <!-- Get Started -->
        <section id="cta" class="main special">
          <header class="major">
            <h2 style="font-weight:900">#######</h2>
           
          </header>
         <img src="third/solidgauge-normal.svg" alt="">
        </section>
      </div>

      <!-- Footer -->
      <footer id="footer">
       
        <section>
          <h2>Contact Us</h2>
          
          <ul class="icons">
            <li>
              <a href="#" class="icon brands fa-twitter alt"
                ><span class="label">Twitter</span></a
              >
            </li>
            <li>
              <a href="#" class="icon brands fa-facebook-f alt"
                ><span class="label">Facebook</span></a
              >
            </li>
            <li>
              <a href="#" class="icon brands fa-instagram alt"
                ><span class="label">Instagram</span></a
              >
            </li>
            <li>
              <a href="#" class="icon brands fa-github alt"
                ><span class="label">GitHub</span></a
              >
            </li>
            <li>
              <a href="#" class="icon brands fa-dribbble alt"
                ><span class="label">Dribbble</span></a
              >
            </li>
          </ul>
        </section>
       
      </footer>
    </div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
