<!DOCTYPE html>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>결과페이지</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="css/main.css" />
    <noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>

  </head>

  <script
    src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
    crossorigin="anonymous"
  ></script>

  <!-- <script>
    $(document).on("keyup", "input:text[numberOnlyMinComma]", function () {
      var strVal = $(this).val()

      event = event || window.event
      var keyID = event.which ? event.which : event.keyCode

      if (
        (keyID >= 48 && keyID <= 57) ||
        (keyID >= 96 && keyID <= 105) ||
        keyID == 46 ||
        keyID == 8 ||
        keyID == 109 ||
        keyID == 189 ||
        keyID == 9 ||
        keyID == 37 ||
        keyID == 39
      ) {
        if (strVal.length > 1 && (keyID == 109 || keyID == 189)) {
          return false
        } else {
          return
        }
      } else {
        return false
      }
    })

    $(document).on("keyup", "input:text[numberOnlyMinComma]", function () {
      $(this).val(
        $(this)
          .val()
          .replace(/[^-\.0-9]/gi, "")
      )
      $(this).val(
        $(this)
          .val()
          .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
      )
    })
    $(document).on("focusout", "input:text[koreanCurrency]", function () {
      $(this).val($(this).val().replace(",", ""))
      $(this).val(
        $(this)
          .val()
          .replace(/[^-\.0-9]/gi, "")
      )
      $(this).val(
        $(this)
          .val()
          .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
      )
      if ($(this).val() != "") {
        $(this).val($(this).val() + "원")
      }
    })

    $(document).on("focus", "input:text[koreanCurrency]", function () {
      $(this).val($(this).val().replace("원", ""))
    })
  </script> -->

  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script>
  if (!Kakao.isInitialized()) {
    Kakao.init('c65119b660b1c1edd0a037ed560b81ba');

    function kakaoShare() {
      Kakao.Link.sendDefault({
        objectType: 'feed',
        content: {
          title: 'ECTI',
          description: 'Energy Consumption Type Indicator',
          imageUrl: '',
          link: {
            mobileWebUrl: 'http://localhost:8000',
            webUrl: 'http://localhost:8000',
          },
        },
        buttons: [
          {
            title: '웹으로 보기',
            link: {
              mobileWebUrl: 'http://localhost:8000',
              webUrl: 'http://localhost:8000',
            },
          },
        ],
        // 카카오톡 미설치 시 카카오톡 설치 경로이동
        installTalk: true,
      })
    }

 
    
  }
  
</script>



  <body class="is-preload">
    <!-- Wrapper -->
    <a href="/"><h4><-- 뒤로가기</h4></a>
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <h1 style="font-weight: 900; font-size: 60px">전력소비유형검사</h1>
        <h3>[ Energy Consumption Type Indicator ]</h3>
        <h2>검사결과</h2>
      
      </header>

      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="#intro" class="active" style="font-weight: 500;">당신의 ECTI는</a></li>
          <li><a href="#first" style="font-weight: 500;">당신의 전력 소비 분석</a></li>
          <li><a href="#second" style="font-weight: 500;">전국 전력 소비 현황</a></li>
          <li><a href="#cta" style="font-weight: 500;">절약 실천 방법</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <!-- Introduction -->
        <section id="intro" class="main special">
          <div class="spotlight">
            <div class="content">
              <header class="major">
                <h2 style="font-weight:900">당신의 ECTI는</h2>
              </header>

              <br>

              <img style="border:3px solid grey" src=<%= data[4] %>>
              <div style="margin-top:20px;text-align:left">
                <br>
                <h1 style="font-weight:900">전력소비유형: <span id="ectiid" style="background-color:papayawhip"></span></h1>
                
                <p class="out" style="margin-top:20px"  >
                  <div class="v-line"> 
                    <h2 id="ectibd" style="font-weight: 500; margin-left:20px">
                  </h2>
                  </div>
                </p>
              
              </div>
        </section>
        
        <script>
          const x = "<%= data[2] %>"
          if(x==1){
              document.getElementById('ectiid').innerHTML='"전력낭비로부터 세상을 지키는 슈퍼히어로"'
              document.getElementById('ectiid').style.fontSize = '25px'
              document.getElementById('ectibd').innerHTML="당신의 ECTI는 <span style='font-weight:600'>'전력낭비로부터 세상을 지키는 슈퍼히어로'</span>입니다.<br>세상 전력을 혼자 쓰다시피 사용하는 당신! 너무 많은 전력을 사용하고 있는게 아닐까요?<br>당신은 6개의 등급 중 6등급입니다."
          } else if(x==2) {
              document.getElementById('ectiid').innerHTML='"전력을 지켜낸 영웅"'
              document.getElementById('ectibd').innerHTML="당신의 ECTI는 <span style='font-weight:600'>'전력을 지켜낸 영웅'</span>입니다.<br>절약을 실천하려 노력하고 많은 전력을 아껴낸 당신에게 전력영웅훈장을 수여합니다!<br>당신은 6개의 등급 중 2등급입니다."
          }
           else if(x==3) {
              document.getElementById('ectiid').innerHTML='"균형을 지키는 마법사"'
              document.getElementById('ectibd').innerHTML="당신의 ECTI는 <span style='font-weight:600'>'균형을 지키는 마법사'</span>입니다.<br>많지도 적지도 않은 전력을 사용함으로써 평균적인 전력소비를 즐기는 당신은 균형의 마법사입니다!<br>당신은 6개의 등급 중 3등급입니다."
           }
           else if(x==4) {
              document.getElementById('ectiid').innerHTML=' "혼란을 주도하는 조커"'
              document.getElementById('ectibd').innerHTML="당신의 ECTI는 <span style='font-weight:600'>'혼란을 주도하는 조커'</span>입니다.<br>다른 사람들은 선풍기를 사용할 때 에어컨만 사용하는 당신! 전력혼란을 주도하는 조커입니다!<br>당신은 6개의 등급 중 4등급입니다."
           }
            else if(x==5) {
              document.getElementById('ectiid').innerHTML=' "전력낭비로 수감중인 죄수"'
              document.getElementById('ectibd').innerHTML="당신의 ECTI는 <span style='font-weight:600'>'전력낭비로 수감중인 죄수'</span>입니다.<br>전력을 과하게 소비하고 있는 당신! 필요로 하지 않는 전자제품들은 꺼보는게 어떨까요?<br>당신은 6개의 등급 중 5등급입니다."
            }
            else{
              document.getElementById('ectiid').innerHTML=' "전력을 없애는 킬러"'
              document.getElementById('ectibd').innerHTML="당신의 ECTI는 <span style='font-weight:600'>'전력을 없애는 킬러'</span>입니다.<br>세상 전력을 혼자 쓰다시피 사용하는 당신! 너무 많은 전력을 사용하고 있는게 아닐까요?<br>당신은 6개의 등급 중 6등급입니다."
            }
        </script>

        <!-- First Section -->
        <section id="first" class="main special">
          <header class="major">
            <h2 style="font-weight:900">당신의 전력 소비 분석</h2>
          </header>
          <div class = 'container' style="display:flex">
            <img src=<%= data[3] %> style="width:50%;height:50%" >
            <img src=<%= data[5] %> style="width:50%;height:50%" >
          </div>
          
          <!-- <script>alert("<%= data[5] %>")</script> -->

          <p class="out" style="margin-top:20px">
            <div class="v-line" style="text-align:left"> 
              <h2 style="font-weight: 300; margin-left:20px">############</h2>
              <h2 style="font-weight: 300; margin-left:20px">############</h2>
              <h2 style="font-weight: 300; margin-left:20px">평균요금 : <%=data[0]%>원 사용자요금 : <%=data[1]%>원 등급: <%=data[2]%></h2>
            </div>
          </p>
        
        </section>

        <!-- Second Section -->
        <section id="second" class="main special">
          <header class="major">
            <h2 style="font-weight:900">전국 전력 소비 현황</h2>
          </header>
          <div class="container">
            <!-- <div style="display: flex">
            <img src="third/국가별전기요금(가정).png" style="width:50%;height:50%" alt="">
            <img src="third/국가별전기요금(산업용).png" style="width:50%;height:50%" alt="">
          </div>
          <div style="display: flex">
            <img src="third/요금사용량.png" style="width:50%;height:50%" alt="">
            <img src="third/한전재무상태.png" style="width:50%;height:50%" alt="">
          </div> -->

          <img src="third/아시아.png" style="width:80%;height:50%" alt="">
          <img src="third/가정용.png" style="width:80%;height:50%" alt="">
          <img src="third/한전.png" style="width:80%;height:50%" alt="">

        </div>
          
        </section>

        <!-- Get Started -->
        <section id="cta" class="main special">
          <header class="major">
            <h2 style="font-weight:900">절약 실천 방법</h2>
          </header>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/x3iy315chyc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/qHTpjy0hZUg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>

      </div>

      <!-- Footer -->
      <footer id="footer">
       
<section>
  <h2>Share your experience</h2>

  <ul class="icons">
    <a id="kakao-link-btn" href="javascript:kakaoShare()">
    	<img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png" />
    </a>
  </ul>
</section>

        <section>
          <h2>Contact Us</h2>
          
          <ul class="icons">
            <li>
              <a href="https://github.com/dlrjs2360/Capstone1" class="icon brands fa-github alt"
                ><span class="label">GitHub</span></a
              >
            </li>
          </ul>
        </section>
       
      </footer>
    </div>



    <script>
      var kakaoShareBtn = document.querySelector('.kakao-share');
      kakaoShareBtn.addEventListener('click', function() {
          shareKakao();
      });
  </script>
  

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
